* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #9381ff;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  width: 900px;
  margin: 5% auto;
  flex-wrap: wrap;
}

header {
  width: 100%;
  text-align: center;
}
aside {
  padding: 5px 0px 0px 8px;
  /* height: 300px; */
  border: 5px solid #ffeedd;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 20px;
  width: 250px;
  align-items: flex-start;
}

.board {
  width: 620px;
  height: 620px;
  border: 10px solid black;
  flex-shrink: 0;
  background-color: #ffeedd;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.board > div {
  background-color: #b8b8ff;
  border-radius: 3%;
  border: 1px solid white;
}

.pen {
  background-color: green !important;
}

aside button {
  width: 80%;
  margin-bottom: 5px;
  padding: 10px 0px;
}

.cpanel {
  width: 100%;
}

.cpanel h2 {
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.cpanel .icon {
  display: block;
  float: left;
  margin-right: 5px;
  background-image: url(./assets/controls-settings-svgrepo-com.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
}

.draw-control {
  padding: 5px;
  width: 80%;
}

.draw-control span {
  padding: 0px 3px;
}

.draw-control div {
  margin-bottom: 15px;
}

.draw-control label {
  margin-left: 5px;
}
